<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bignerdranch.android.jetpackcompose">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        tools:targetApi="31">
        <activity
            android:name=".EditTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".AddTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_add_task"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".EditAlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_alarm"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".CreateAlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_create_alarm"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:label="@string/title_activity_log_in"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_alarm"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>